{% extends "layout.html" %}

{% block mainContent %}
  <p>Check out the Thumbs Up Party People</p>
  <ul>
      <li>
          <span id="sparkling-pond-AB-name">Adit Basheer</span>
          <img src="http://auth.milton.commonspotcloud.com/news/images/06-09_convocation_2.jpg" id="sparkling-pond-AB-headshot"></img>
      </li>
      <li>
          <span id="sparkling-pond-GK-name">Glenn Kelly</span>
          <img src="http://athletics.bates.edu/sports/rowing/2008-09/bios-m-spring/glenn_kelly_1938.html_o1lnh.jpeg?max_width=160&max_height=210" id="sparkling-pond-GK-headshot"></img>
      </li>
      <li>
          <span id="sparkling-pond-MR-name">Mike Ricciuti</span>
          <img src="http://img.fanbase.com/media.fanbase.com/8/1/59ae1429e2a7a343d218bba203e6be1b7110ef06.jpg?x=150&y=162&sig=795a3ef21b74f85bfaa23a22d9958bc0" id="sparkling-pond-MR-headshot"></img>
      <li>
          <span id="sparkling-pond-AT-name">Ashley Tucker</span>
          <img src="https://media.licdn.com/media/p/2/005/08d/1c6/1e24ac5.jpg" id="sparkling-pond-AT-headshot"></img>
      </li>
  </ul>
{% endblock %}
