{% extends "layout.html" %}

{% block mainContent %}
    <h1 id="title"> {{event.title}}</h1>
    <p>When: <span id="date">{{event.date}}</span></p>
    <p>Where: <span id="location">{{event.location}}</span></p>
    <p> Who</p>
    <ul id="attendees">
        {% for person in event.attending %}
            <li> {{person}} </li>
            {% endfor %}
    </ul>
    <img src="{{event.image}}" id="image">
    
  <p>Please come!</p>
  {% if errors %}
  <div>
      <ul class="form-errors">
          {% for error in errors %}
             <li>{{error}}</li>
          {% endfor %}
      </ul>
  </div>
  {% endif %}
  <form method="POST">
      <input type="text" name="email" id="email" placeholder="Your email"/>
      <input type="submit" value="Submit"/>
  </form>
{% endblock %}

<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/229718889&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
