<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='112693992-1',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-70851944-1', 'auto');
  ga('send', 'pageview');

</script>

{% extends "layout.html" %}

{% block header %}
  <header>
    <h1>{{ title }}</h1>
    <img id="logo" src=http://www.clipartbest.com/cliparts/KTj/gyo/KTjgyoLAc.png>
  </header>
{% endblock %}

{% block mainContent %}
  
  <div id="welcomeabout">
  <p>
    Welcome to {{ title }}
  </p>
  <p>  
    {{tagline}}
  </p>
  </div>
  
  <div id="checkusout">
  <p id="p1">
    Check out the <a href="/about">About us</a> page
    as well as the <a href="/events">Events</a> page.
  </p>
  </div>
  
  <div id="upcomingevents">
  <p> 
  Upcoming Official Thumbs Up Events
  </p>
    {% include "fragments/events-list.html" %}
  </div>
  <div id="createevent">
  <p>
    <a id="new" href="/events/new">Create a new event</a>
  </p>
  </div>

{% endblock %}