body {
  padding: 60px;
  font: 44px "Tahoma", Helvetica, Arial, sans-serif !important; 
  text-align: center;
  color: white !important;
    background: url(http://kenmclane.org/images/party_bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  color: #00B7FF;
}

.form-errors {
	color: red;
}

header{
  padding: 1em;
  border: 0px solid #ddd;
  margin: 0em 0;
  text-align: center;
  font-size: 40px;
  width: 100%;
  color: green;
}

header h1{
  font-size: 88px;
}


footer{
  padding: 1em;
  border: 0px solid #ddd;
  margin: 2em 0;
  text-align: center;
  font-size: 40px;
}