body {
  padding: 60px;
  font: 44px "Tahoma", Helvetica, Arial, sans-serif !important; 
  text-align: center;
  color: gray !important;
    background: url(http://static1.squarespace.com/static/55c37beae4b0336075603f86/55c3cd80e4b01531b3208f2e/5603032be4b008bd0ad4e6fb/1443279872878/?format=1500w) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  color: #00B7FF;
}

.form-errors {
	color: red;
}

#welcomeabout {
    width: auto;
    height: 400px;
    position: relative;
    margin: auto;
    text-align: center;
}


#checkusout {
    width: auto;
    height: 400px;
    position: relative;
    margin: auto;
    text-align: center;
}

#upcomingevents {
    width: auto;
    height: 400px;
    position: relative;
    margin: auto;
    text-align: center;
}

#createevent {
    width: auto;
    height: 100px;
    position: relative;
    margin: auto;
    text-align: center;
}

header{
  padding: 1em;
  border: 0px solid #ddd;
  margin: 0em 0;
  text-align: center;
  font-size: 40px;
  width: 100%;
  color: blue;
}

header h1{
  font-size: 150px;
}


footer{
  padding: 1em;
  border: 0px solid #ddd;
  margin: 2em 0;
  text-align: center;
  font-size: 40px;
}